<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/dbdapp.css">


<div class="flex-container">
    <div class="container">
        <h1>DBD RANDOM KILLER GENERATOR</h1>
        <form method="GET" action='/randomgenkiller'>
            <p>Select Killer Attribute Filters As Needed:</p>

    <div class="checkbox-grid">
     <label for="ranged">Ranged
     <input id="ranged" name="attribute" type="checkbox" value="ranged">
     </label>
 

     <label for="power-based">Power-Based
     <input id="power-based" name="attribute" type="checkbox" value="power-based">
     </label>


     <label for="trap">Trap
     <input id="trap" name="attribute" type="checkbox" value="trap">
     </label>
 


     <label for="setup">Setup
     <input id="setup" name="attribute" type="checkbox" value="setup">
     </label>


     <label for="mobility">Mobility
     <input id="mobility" name="attribute" type="checkbox" value="mobility">
     </label>


     <label for="m1">M1
     <input id="m1" name="attribute" type="checkbox" value="m1">
     </label>



     <label for="stealth">Stealth
     <input id="stealth" name="attribute" type="checkbox" value="stealth">
     </label>


     <label for="disruption">Disruption
     <input id="disruption" name="attribute" type="checkbox" value="disruption">
     </label>


     <label for="snowball">Snowball
     <input id="snowball" name="attribute" type="checkbox" value="snowball">
     </label>
 
 

 
     <label for="slugging">Slugging
     <input id="slugging" name="attribute" type="checkbox" value="slugging">
     </label>
   

     <label for="minions">Minions
     <input id="minions" name="attribute" type="checkbox" value="minions">
     </label>
   

     <label for="many-powers">Many Powers
     <input id="many-powers" name="attribute" type="checkbox" value="many-powers">
     </label>
   
    </div>
            <button>Generate Random Killer</button>
        </form>
    </div>
</div>





